

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

img {
	vertical-align: middle;
}

ol, ul {
	list-style: none;
}


body,
html {height: 100%;}
body{
	margin:0;
	color:#9dbcf3;
	font:18px Arial, Helvetica, sans-serif;
	-webkit-text-size-adjust: none; 
}
img{border-style:none; vertical-align: top;}
a{text-decoration:none; color:#6e6e6e;}
a:hover{text-decoration:underline;}
#wrapper{
	width:100%;
	height: 100%;
	display:table;
}
.wrapper-holder {
	width:100%;
	overflow:hidden;
	position:relative;
}
.wrapper-holder.grey{background: #28292b;}
#header {
	margin: 0 auto;
	padding: 10px 0 10px 0;
	position:relative;
	z-index:10;
}
#bio-wrapper {
	width:50%;
	margin:10px auto;
	padding:20px;
	border-radius: 20px;
	background:#000;
	box-shadow: 5px 5px 5px 5px #555 ;
}
#bio-wrapper p{
	font-family:'Roboto', sans-serif;
	font-style: italic;
	font-size:20px;
	line-height: 25px;
	color:#FFF;
}
.image-name{
	display:flex;
	justify-content:flex-start;
	align-items: center;
	margin-bottom: 1em;
}
.image-round{
	width:90px;
	height:90px;
	border-radius:45px;
	overflow:hidden;
}
.image-round img{
	aspect-ratio: 2/3;
	width:100%;
	filter: grayscale(80%);
}
.bio-name{
	font-family:'Arial', sans-serif;
	font-size:30px;
	font-weight:1000;
	text-align: center;
	margin-bottom: 10px;
}
.skills, .portfolio{
	width:50%;
	margin:auto;
	margin-top:0.8em;
	margin-bottom:2em;
	padding:20px; 
	border-radius: 20px;
	background:#000;
	position:relative;
	z-index: 10;
	box-shadow: 5px 5px 5px 5px #555 ;
	font-family: 'Roboto', sans-serif;
}
.skills p{
	font-family: inherit;
	font-size:20px;
	font-weight: 150;
	color:#FFF;
}
.skills-sub{
	margin-bottom: 2em;
}

.subheading{
	font-family: inherit;
	font-style: italic;
	font-weight: bold;
	font-size:25px;
	line-height: 25px;
	color:#FFFF00;
	margin:0.5em 0.2em;
}
.port-list li{
	padding: 20px 0;
}
.port-list li p{
	line-height: 25px;
	color:#FFF;
	font-size:20px;
	display: inline-block;
	font-weight: 150;
	font-family:inherit;
}

.port-list li div{
	display:inline-block;
}
.pict-wrapper{
	width:100px;
	height:100px;
	display:inline-block;
	margin-right:1em;
	overflow:hidden;
	border-radius: 8px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
.pict-wrapper :hover{
	transform:scale(1.1);
	cursor:pointer;
}
.pict-wrapper img{
	width:100%;
	height:100%;
}


/*main
 */
#main{
	max-width: 1170px;
	margin: 0 auto;
	padding: 93px 0 76px;
	position:relative;
	background: url(../images/icon_header.png) no-repeat 50% 0;
}
#main h2{
	display: block;
	text-align: center;
	font-family: 'novecento_sans_widebook';
	font-size: 30px;
	line-height: 32px;
	color: #fff;
	margin: 0 0 81px;
}

.box_contact{
	overflow:hidden;
}
.box_contact span{
	color: #111;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 32px;
	display: block;
	padding: 2px 0 2px 0;
}
.box_contact span.contact{ font-weight:bold; padding-left:0; margin-bottom:3px}
.box_contact span.linkedin{background: url(../images/icon_LI2.png) no-repeat; margin:0 0 5px; padding:35px 0 5px 0;}
/*footer
 */
#footer {
    width:100%;
    overflow:hidden;
    display:table-footer-group;
		background:#FFF;
}
.footer-content {
	max-width: 1170px;
	margin: 0 auto;
	padding:5px 0 5px;
	color: #111;		
	display:flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}
.footer-content .social{
	overflow:hidden;
	margin: 0 auto 45px;
	display:flex;
	justify-content: center;
}

